<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite>
			<file>tests/test-post-type.php</file>
			<file>tests/test-functions.php</file>
			<file>tests/test-query.php</file>
			<file>tests/test-rewrite.php</file>
			<file>tests/test-admin.php</file>
			<file>tests/test-template.php</file>
			<file>tests/test-filters.php</file>
			<file>tests/test-widgets.php</file>
			<file>tests/test-uninstall.php</file>
		</testsuite>
	</testsuites>
</phpunit>